<header class="header" xmlns:th="http://www.thymeleaf.org" th:fragment="header(activePage)">
    <div class="header-container">
        <div class="logo-container">
            <a href="/" class="logo-link">
                <img src="/assets/icon/icon.ico" alt="Pomodoro Logo" class="logo-img">
            </a>
            <h1 class="logo">Pomodoro Timer</h1>
        </div>
        <nav class="nav">
            <a class="nav-btn" th:classappend="${activePage == 'home'} ? 'nav-btn--active'" href="/">Timer</a>
            <a class="nav-btn" th:classappend="${activePage == 'about'} ? 'nav-btn--active'" href="/about">About</a>
            <a class="nav-btn" th:classappend="${activePage == 'helpus'} ? 'nav-btn--active'" href="/helpus">Help Us</a>
        </nav>
    </div>
</header>