<header class="header" xmlns:th="http://www.thymeleaf.org" th:fragment="header(activePage)">
    <div class="header-container">
        <div class="logo-container">
            <a th:href="@{/}" class="logo-link">
                <img th:src="@{/assets/icon/icon.ico}" alt="Pomodoro Logo" class="logo-img">
            </a>
            <h1 class="logo">Pomodoro Timer</h1>
        </div>
        <nav class="nav">
            <a class="nav-btn" th:classappend="${activePage == 'home'} ? ' nav-btn--active' : ''" th:href="@{/}">Timer</a>
            <a class="nav-btn" th:classappend="${activePage == 'about'} ? ' nav-btn--active' : ''" th:href="@{/about}">About</a>
            <a class="nav-btn nav-btn--accent" th:classappend="${activePage == 'helpus'} ? ' nav-btn--active' : ''" th:href="@{/helpus}">Help Us</a>
        </nav>
    </div>
</header>
